{%extends 'webbase.html' %}
 
 {% block content %}
        <h1>
                NerdyJock Fantasy Footall 2018
        </h1>
        <h4>
            SUCCESS!
        </h4>

        <div>
                {% if link %}
                {% for i in link %}    
                
                <a href={{i.Link}}> {{ i.Name }}</a>
                <br />

                {% endfor %}

                {% endif %}
        </div>

        <div>
                {% for i in teamList %}
                {{i.code}} - {{i.byeWeek}}
                <br />
                {% endfor %}
        </div>

{% endblock %}
 