
{%extends 'webbase.html' %}
{% load staticfiles %}
 
{% block title %}
        <h1>
                Nerdy Jock Fantasy Footall 2018
                
        </h1>
        
        <h4>
            Oldskool FFL Champions - Wolpack*
        </h4>
        <div>
            <img src="{% static 'head_icon.png' %}" class="d-inline-block" />
        </div>
{% endblock %}

{% block content %}
        <br />
        <div height="100px">
        <div class="container">
            <div class="row">
              <div class="col-lg">
                  <h1>Welcome!</h1>          
                  <table class="table">
                    <tbody>
                      <tr>
                        <p style="text-indent: 20px">
                          Fantasy Football season is finally upon us! This site has the essentials for dominating any league, period. 
                          Nerdy Jock Fantasy Football leaves out the excess fluff and provides you with what really matters. Here you can view news from the 
                          top fantasy sites, view player rankings, nfl team byes, strength of schedule and more! This website is put together with the knowledge and experience 
                          of champions. <br /> 
                          <p style="text-indent: 20px">
                            Wolfpack* is a proven Oldskool FFL Championship team that started out as the Bill Belichick to Bill Parcell's Giants.
                          Before Wolfpack* grew into the powerhouse they are today, they were winning championships under the tutelage of Jack Mann. 
                          The same mann who's coaching tree spans 3 proven champions( and a toilet bowl team who wrote I heart Brady on draft boards, but thats neither here nor there).
                          The same mann who scraped together a bunch of Misfits* to beat even the most dominating of forces; shout out to Brett Favre in Monday Night Primtetime.
                          </p>
                          <p style="text-indent: 20px">
                          With the information on this website you can drink until you sleep through rounds 3-13 of your fantasy draft and still come out as champions.
                          With this information Wolfpack* started Blake Bortles in a fantasy championship...and won. 
                          With this information do what you please and have fun! Have to love fantasy football baby.
                          Hope you enjoy this web site brought to you by some nerdy jock. Sign up today and join The Pack!
                        </p> 
                      </p>
                    </tr>
                      <tr>
                      </tr>
                    </tbody>
                  </table>
                </div> 
            

              <div class="col-lg">
                  <div class="container text-center">
                      <h2>Player News</h2>
                      <br>
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" data-toggle="tab" style="color: black" href="#home">Rotoworld</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" style="color: black" href="#menu1">Fantasy Pros</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" style="color: black" href="#menu2">NFL.com</a>
                        </li>
                      </ul>
                    
                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div id="home" class="container tab-pane active"><br>
                          
                          <p style="text-align:left" >
                              {% if news.1 %}

                              <ul class="list-group list-group-flush" style="text-align:left">
                              {% for i in news.1 %}
      
                               <li class="list-group-item"style="text-align:left"> <a href={{i.Link}} style="color: black" target="_blank" >{{ i.Text }}</a>  </li>     
      
                              {% endfor %}
                              </ul>
      
                              {% endif %}
                          </p>

                        </div>
                        <div id="menu1" class="container tab-pane fade"><br>
                          
                          <p style="text-align:left" >
                              {% if news.0 %}

                              <ul class="list-group list-group-flush" style="text-align:left">
                              {% for i in news.0 %}
      
                               <li class="list-group-item"> <a href={{i.Link}} style="color: black" target="_blank" >{{ i.Text }}</a>  </li>     
      
                              {% endfor %}
                              </ul>
      
                              {% endif %}
                          </p>

                        </div>
                        <div id="menu2" class="container tab-pane fade"><br>
                          <p>
                              <table class="table table-dark">
                                  <thead>
                                    <tr>
                                      <th scope="col">Player News Via FantasyPros</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                      {% if news %}
                                      {% for i in news %}
                                    <tr>
                                      <td style="text-align:left">
                                          <a style="color: black" href={{i.Link}} target="_blank" >{{ i.Text }}</a>
                                      </td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                  </tbody>
                                </table>
                          </p>
                        </div>
                      </div>
                    </div>
              </div>
            </div>
         
          </div>
        </div>
        <div class="container text-center" style="padding-top:50px">
             <h2>"NOW this is the law of the jungle, as old and as true as the sky, And the wolf that shall keep it may prosper, but the wolf that shall break it must die. As the creeper that girdles the tree trunk, the law runneth forward and back; For the strength of the pack is the wolf, and the strength of the wolf is the pack."</h2>
              
             <p style="padding-top:20px">
                <img src="{% static 'wolf2.png' %}" height=250px width=250px />
             </p >

        </div> 

             <!-- <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table> -->

{% endblock %}
 
 
 